<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--公用CSS-->
    <link rel="stylesheet" href="../assets/css/main.css"/>
    <!--帮助中心样式-->
    <link rel="stylesheet" href="../assets/css/aboutUs.css">
    <!--屏幕不大于1590px(1600px)-->
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 1590px)" href="../assets/cssL/main.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 1590px)" href="../assets/cssL/aboutUs.css" />
    <!--客服飘窗-->
    <link rel="stylesheet" href="../assets/lib/bayWindow/bay.css">
    <script type="text/javascript" src="../assets/lib/jquery-3.2.1.min.js"></script>
</head>
<body>
<!--header-->
<div id="header" class="header">
    <div class="header_logo"></div>
    <!--头部菜单-->
    <div id="header_menu" class="header_menu">
        <a href="index.html"><div class="header_menu_children header_menu_children_first">首页</div></a>
        <!--<a href="http://www.wmdmall.com/" target="_blank"><div class="header_menu_children header_menu_children_secound">我买单商城</div></a>-->
        <!-- <a href="product.html"><div class="header_menu_children">产品中心</div></a> -->
        <!--<a href="merchantsSettled.html"><div class="header_menu_children">商户入驻</div></a>-->
        <!-- <a href="helpCenter.html"><div class="header_menu_children">帮助中心</div></a> -->
        <a href="#"><div class="header_menu_children header_menu_selector">关于我们</div></a>
    </div>
</div>
<div id="main">
    <div id="banner" class="banner"></div>
    <!--页面菜单-->
    <div id="menu" class="menu">
        <div class="menu_title">
            <div class="menu_title_img"></div>
            <div class="menu_title_text">关于ABOUT</div>
        </div>
        <div class="menu_child menu_child_first menu_child_click">关于我们</div>
        <!--<div class="menu_child">管理团队</div>-->
        <!--<div class="menu_child">集团背景</div>-->
        <div class="menu_child">招贤纳士</div>
        <div class="menu_child">联系我们</div>
    </div>
    <div id="artical" class="artical">
        <!--关于e代付页面-->
        <div id="about_us" class="artical_box" style="display: block;">
            <div class="about_us_top">
                <div class="about_us_logo">
                    <img src="./../assets/images/edf_logo_2.png"/>
                </div>
                <div class="about_us_text">
                    <p>
                        国昌世纪旨在维护行业发展，共同响应普惠金融：依托领先的金融科技技术，加以共享经济的收费模式输出，使金融机构能低成本投入，降低经营风险；同时让有资金需求的用户，能以更好的体验、更低的成本获得融资。
                    </p>
                    <!-- <br />
                    <p>
                        公司首发产品“易代付定位于专为18-35岁年轻群体提供高效、便捷的小额消费金融服务，坚持“普惠金融、民生金融”理念，以“高效、便捷、安全”为核心，立志于为年轻人提供一个随时、随地、随借随还的借贷平台，致力将公司打造成中国移动“电子信用卡”平台，服务于广大年轻人。
                    </p> -->
                </div>
            </div>
            <div class="about_us_line"></div>
            
        </div>
        <!--关于e代付--end-->
        <!--管理团队-->
        	<!--2017.09.04已删-->
        <!--管理团队--end-->
        <!--集团背景-->
        <!--<div id="group_background" class="artical_box" style="display: none;">-->
            <!--<div class="group_background_top">-->
                <!--<div class="group_background_logo">-->
                    <!--<img src="./../assets/images/aboutUs/group_logo.png"/>-->
                <!--</div>-->
                <!--<div class="group_background_text">-->
                    <!--<p>-->
                        <!--深圳市迎丰年集团(YFN)为一家集地产、金融、传媒、文化产业为一体的综合型集团，总资产高达上百亿，同时深耕金融板块，形成了证券、基金、小微贷、消费金融等多链条协同发展。-->
                    <!--</p>-->
                    <!--<br />-->
                    <!--<br />-->
                    <!--<p>-->
                        <!--从商业地产到金融投资、从照明产业到协会运营、从文化艺术到慈善基金．无不以仁义德行为准绳，通过务实精干、不断创新、诚信为本的信念。使其在深圳、东莞、揭西、江西等多地所开发项目，以品质注称．在行业享誉盛名。-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="group_background_line"></div>-->
            <!--<div class="group_background_bottom">-->
                <!--<div class="group_background_bottom_title">-->
                    <!--<img src="./../assets/images/aboutUs/aboutUs_prize.png"/>-->
                    <!--<span>迎丰年集团荣誉</span>-->
                <!--</div>-->
                <!--&lt;!&ndash;e代付荣誉 第一行&ndash;&gt;-->
                <!--<div class="group_background_bottom_content">-->
                    <!--<div class="group_background_bottom_img_left">-->
                        <!--<div class="group_background_bottom_img">-->
                            <!--<img src="./../assets/images/aboutUs/group_background_1.png"/>-->
                        <!--</div>-->
                        <!--<div class="group_background_bottom_name">功德新闻人物</div>-->
                    <!--</div>-->
                    <!--<div class="group_background_bottom_img_right">-->
                        <!--<div class="group_background_bottom_img">-->
                            <!--<img src="./../assets/images/aboutUs/group_background_2.png"/>-->
                        <!--</div>-->
                        <!--<div class="group_background_bottom_name">深圳市企业投资者优秀会员</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;e代付荣誉 第二行&ndash;&gt;-->
                <!--<div class="group_background_bottom_content">-->
                    <!--<div class="group_background_bottom_img_left">-->
                        <!--<div class="group_background_bottom_img">-->
                            <!--<img src="./../assets/images/aboutUs/group_background_3.png"/>-->
                        <!--</div>-->
                        <!--<div class="group_background_bottom_name">爱国先进示范单位</div>-->
                    <!--</div>-->
                    <!--<div class="group_background_bottom_img_right">-->
                        <!--<div class="group_background_bottom_img">-->
                            <!--<img src="./../assets/images/aboutUs/group_background_4.png"/>-->
                        <!--</div>-->
                        <!--<div class="group_background_bottom_name">人民功勋企业家</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--集团背景--end-->
        <!--招贤纳士-->
        <div id="recruitment" class="artical_box" style="display: none;">
            <div class="recruitment_box">
                <div class="recruitment_box_title"><&nbsp;<b>找到</b>你何时的职位&nbsp;></div>
                <div class="recruitment_box_synopsis">
                    <div class="recruitment_box_synopsis_left">
                        <img src="./../assets/images/aboutUs/recruitment_banner.png"/>
                    </div>
                    <div class="recruitment_box_synopsis_right">
                        <div class="recruitment_synopsis_title">
                            <div class="recruitment_synopsis_logo">
                                <img src="./../assets/images/aboutUs/recruitment_1.png"/>
                            </div>
                            <div class="recruitment_synopsis_text">< JOIN ></div>
                        </div>
                        <div class="recruitment_synopsis_contact">
                            <p>国昌世纪视员工为企业的第一财富，我们为员工营造了轻松愉快的工作环境、充足的学习和成长机会，以充分展示员工的才华。我们为您准备了绝佳的工作机会和发展平台，欢迎您的加入，与我们共创辉煌。</p>
                            <p>请将您的简历通过电子邮件发送到milesyang@xinyong12345.com 邮件标题格式：姓名-应聘岗位-联系电话 谢谢！</p>
                        </div>
                    </div>
                </div>
                <div class="recruitment_box_logo">
                    <img src="./../assets/images/aboutUs/recruitment_logo.png"/>
                </div>
                <div class="recruitment_box_job">
                    <div class="recruitment_box_job_child">
                        <div class="job_box_left">
                            <p class="job_name_a">商务经理</p>
                            <p class="job_name_b">Business Manager</p>
                        </div>
                        <div class="job_box_right">
                            <h3>岗位职责：</h3>
                            <P>1. 依托公司的产品拓展合适的合作资源与渠道，寻找互金行业异业合作机会，并推进内外资源合作；</P>
                            <P>2. 拓展互金甲方，独立完成商务谈判，把握整个合作过程，对合作项目做好规划并跟进执行进度；</P>
                            <P>3. 保持与合作伙伴的良好沟通，合作渠道的维护运营，争取更多的深入合作；</P>
                            <P>4. 负责BD流量合作方案，执行，监控，数据汇报等完整的BD工作流程；</P>
                            <P>5. 负责公司金融智能风控系统输出的拓展工作。</P>
                            <div class="job_box_right_text">
                                <h3>任职资格：</h3>
                                <p>1. 股权/期权奖励，非自我驱动型人才勿扰，大专以上学历；</p>
                                <p>2. 半年以上互联网、互联网金融公司从事商务拓展（BD）或互联网品牌、流量推广相关工作经验；</p>
                                <p>3. 具有互金行业丰相关人脉资源、了解互金行业；</p>
                                <p>4. 能承担一定的创业压力，有创业意愿的尤佳，公司提供平台一起孵化项目。</p>
                            </div>
                        </div>
                        <div class="job_box_img">
                            <img class="job_box_img_down" src="./../assets/images/aboutUs/recruitment_down.png" style="display: block;" />
                            <img class="job_box_img_up" src="./../assets/images/aboutUs/recruitment_up.png" style="display: none;" />
                        </div>
                    </div>
                    <div class="recruitment_box_job_child">
                        <div class="job_box_left">
                            <p class="job_name_a">ASO优化师</p>
                            <p class="job_name_b">ASO Optimizer</p>
                        </div>
                        <div class="job_box_right">
                            <h3>岗位职责：</h3>
                            <P>1. 负责应用在安卓与IOS平台的上包、关键词和排名优化、效果跟踪；</P>
                            <P>2. 能独立制定市场推广策略，推动执行并对结果负责；</P>
                            <P>3. 关注行业和竞品，能根据产品和运营现状，提炼推广优化方案；</P>
                            <P>4. 负责数据指标搭建和监控，根据结果持续优化方案；</P>
                            <P>5. 制定产品在多渠道多平台上的ASO优化计划（包括但不限于苹果、谷歌、华为、OPPO、VIVO、应用宝等）和具体方案（包括但不限于Title、keywords、Description，评论、icon五连拍等）的执行排期及目标；</P>
                            <P>6. 根据方案执行落地，如涉及到使用外部用户评论、使用外部下载等付费合作，需把控费用和成本，对最终效果负责；</P>
                            <p>7. 持续研究渠道和ASO，建立ASO优化库，按月进行ASO优化知识培训及更新。</p>
                            <div class="job_box_right_text">
                                <h3>任职资格：</h3>
                                <p>1. 必须具备2年以上移动端ASO优化经验；</p>
                                <p>2. 能够管理和规划苹果及其他平台（主要是苹果）的分类账号，确保账号的质量度能够持续正向积累，满足项目的需求。</p>
                                <p>3. 能承担一定的创业压力，有创业意愿的尤佳，公司提供平台一起孵化项目；</p>
                                <p>4. 优秀的个人品质、职业操守。</p>
                            </div>
                        </div>
                        <div class="job_box_img">
                            <img class="job_box_img_down" src="./../assets/images/aboutUs/recruitment_down.png" style="display: block;" />
                            <img class="job_box_img_up" src="./../assets/images/aboutUs/recruitment_up.png" style="display: none;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--招贤纳士--end-->
        <!--联系我们-->
        <div id="contact_us" class="artical_box" style="display: none;">
            <div class="contact_box">
                <div class="contact_box_title">
                    <&nbsp;国昌世纪位于中国重要的经济和金融中心--深圳&nbsp;>
                </div>
                <div class="contact_box_child">
                    <div class="contact_box_child_left">
                        <p class="contact_box_map_title"><b>公司地址</b></p>
                        <p>地址：深圳市南山区科技中一路赛百诺大厦A栋412</p>
                        <a href="map_1_company.html" target="_blank">
                            <img class="contact_box_map" src="./../assets/images/aboutUs/contact_map_1.png" />
                        </a>
                    </div>
                   <!--  <div class="contact_box_child_right">
                        <p class="contact_box_map_title"><b>运营中心</b></p>
                        <p>地址：深圳市南山区高新技术产业园区-W2-B座6楼6G室</p>
                        <a href="map_2_company.html" target="_blank">
                            <img class="contact_box_map" src="./../assets/images/aboutUs/contact_map_2.png" />
                        </a>
                    </div> -->
                </div>
                <div class="contact_box_child contact_box_child_line"></div>

                <div class="contact_box_child">
                    <!-- <div class="contact_box_child_left">
                        <p class="contact_box_map_title"><b>公司总部</b></p>
                        <p>如果您在使用易代付（easydaifu.com）的过程中有任何疑问请您与易代付客服人员联系。</p>
                        <br />
                        <div class="contact_box_map_text">
                            <img class="contact_box_map_logo" src="./../assets/images/aboutUs/contact_tel.png"/><span class="contact_box_map_tel">客服电话：4008-441-448&nbsp;&nbsp;0755-84374096</span>
                        </div>
                        <br />
                        <div class="contact_box_map_text">
                            <img class="contact_box_map_logo" src="./../assets/images/aboutUs/contact_qq.png"/><span class="contact_box_map_qq">客服QQ：1428589970&nbsp;&nbsp;2559107660&nbsp;&nbsp;1984771649</span>
                        </div>
                        <br />
                        <span>工作时间：周一至周五(工作日)： 9:00-12:00  14:00-18:00</span>
                    </div> -->
                    <div class="contact_box_child_right">
                        <p class="contact_box_map_title"><b>商务合作</b></p>
                        <span>如果贵公司希望与我们建立商务合作关系，形成优势互补</span><br />
                        <span>请联系微信：tree11418</span>
                    </div>
                </div>
            
                <div class="contact_box_child contact_box_child_line"></div>
            </div>
        </div>
        <!--联系我们--end-->
    </div>
</div>
<!--footer-->
<div id="footer">
    <iframe marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" src="footer.html"></iframe>
</div>
<!--客服飘窗-->
<!-- <div id="rightArrow"><a href="javascript:;" title="在线客户"></a></div>
<div id="floatDivBoxs">
    <div class="floatDtt">在线客服</div>
    <div class="floatShadow">
        <ul class="floatDqq">
            <li><a target="_blank" href="tencent://message/?uin=1428589970&Site=sc.chinaz.com&Menu=yes" style="text-decoration: none;"><img src="../assets/images/bay/qq.png" align="absmiddle">1428589970</a></li>
            <li><a target="_blank" href="tencent://message/?uin=2559107660&Site=sc.chinaz.com&Menu=yes"><img src="../assets/images/bay/qq.png" align="absmiddle">2559107660</a></li>
            <li><a target="_blank" href="tencent://message/?uin=1984771649&Site=sc.chinaz.com&Menu=yes"><img src="../assets/images/bay/qq.png" align="absmiddle">1984771649</a></li>
        </ul>
        <div class="floatDtxt">热线电话</div>
        <div class="floatDtel">
            <span style="margin-left: 10px;">4008-441-448</span><br />
            <span style="margin-left: 10px;">0755-84374096</span>
        </div>
        <div class="floatImg"><img src="../assets/images/bay/wap_ico1.png" style="width: 90%;height: 90%;"><br />手机快捷注册</div>
    </div>
    <div class="floatDbg"></div>
</div> -->
<!--客服飘窗-end-->
<!--客服飘窗-->
<script type="text/javascript" src="../assets/lib/bayWindow/bay.js"></script>
<!--公用JS-->
<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/aboutUs.js"></script>
</body>
</html>