<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--公用CSS-->
    <link rel="stylesheet" href="../assets/css/main.css"/>
    <!--帮助中心样式-->
    <link rel="stylesheet" href="../assets/css/aboutUs.css">
    <!--屏幕不大于1590px(1600px)-->
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 1590px)" href="../assets/cssL/main.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 1590px)" href="../assets/cssL/aboutUs.css" />
    <!--客服飘窗-->
    <link rel="stylesheet" href="../assets/lib/bayWindow/bay.css">
    <script type="text/javascript" src="../assets/lib/jquery-3.2.1.min.js"></script>
</head>
<body>
<!--header-->
<div id="header" class="header">
    <div class="header_logo"></div>
    <!--头部菜单-->
    <div id="header_menu" class="header_menu">
        <a href="index.html"><div class="header_menu_children header_menu_children_first">首页</div></a>
        <!--<a href="http://www.wmdmall.com/" target="_blank"><div class="header_menu_children header_menu_children_secound">我买单商城</div></a>-->
        <a href="product.html"><div class="header_menu_children">产品中心</div></a>
        <!--<a href="merchantsSettled.html"><div class="header_menu_children">商户入驻</div></a>-->
        <a href="helpCenter.html"><div class="header_menu_children">帮助中心</div></a>
        <a href="#"><div class="header_menu_children header_menu_selector">关于我们</div></a>
    </div>
</div>
<div id="main">
    <div id="banner" class="banner"></div>
    <!--页面菜单-->
    <div id="menu" class="menu">
        <div class="menu_title">
            <div class="menu_title_img"></div>
            <div class="menu_title_text">关于ABOUT</div>
        </div>
        <div class="menu_child menu_child_first menu_child_click">关于易代付</div>
        <div class="menu_child">管理团队</div>
        <!--<div class="menu_child">集团背景</div>-->
        <div class="menu_child">招贤纳士</div>
        <div class="menu_child">联系我们</div>
    </div>
    <div id="artical" class="artical">
        <!--关于e代付页面-->
        <div id="about_us" class="artical_box" style="display: block;">
            <div class="about_us_top">
                <div class="about_us_logo">
                    <img src="./../assets/images/edf_logo_2.png"/>
                </div>
                <div class="about_us_text">
                    <p>
                        深圳易代付信息技术服务有限公司是一家创新型的互联网消费金融公司，创立于2015年10月，总部位于改革放前沿的广东省深圳市，全国各大城市设立有办事处。公司由深圳迎丰年集团（YFN）战略投资，与南天软件、HOIPe等多家上市企业形成战略合作。
                    </p>
                    <br />
                    <p>
                        公司首发产品“易代付定位于专为18-35岁年轻群体提供高效、便捷的小额消费金融服务，坚持“普惠金融、民生金融”理念，以“高效、便捷、安全”为核心，立志于为年轻人提供一个随时、随地、随借随还的借贷平台，致力将公司打造成中国移动“电子信用卡”平台，服务于广大年轻人。
                    </p>
                </div>
            </div>
            <div class="about_us_line"></div>
            <div class="about_us_bottom">
                <div class="about_us_bottom_title">
                    <img src="./../assets/images/aboutUs/aboutUs_prize.png"/>
                    <span>易代付荣誉</span>
                </div>
                <!--e代付荣誉 第一行-->
                <div class="about_us_bottom_content">
                    <div class="about_us_bottom_img_left">
                        <div class="about_us_bottom_img">
                            <img src="./../assets/images/aboutUs/honer.png"/>
                        </div>
                        <div class="about_us_bottom_name">消费金融产品创新奖</div>
                    </div>
                    <div class="about_us_bottom_img_right">
                        <!--<div class="about_us_bottom_img">-->
                            <!--<img src="./../assets/images/aboutUs/honer.png"/>-->
                        <!--</div>-->
                        <!--<div class="about_us_bottom_name">消费金融产品创新奖</div>-->
                    </div>
                </div>
                <!--e代付荣誉 第二行-->
                <!--<div class="about_us_bottom_content">-->
                    <!--<div class="about_us_bottom_img_left">-->
                        <!--<div class="about_us_bottom_img">-->
                            <!--<img src="./../assets/images/aboutUs/honer.png"/>-->
                        <!--</div>-->
                        <!--<div class="about_us_bottom_name">消费金融产品创新奖</div>-->
                    <!--</div>-->
                    <!--<div class="about_us_bottom_img_right">-->
                        <!--<div class="about_us_bottom_img">-->
                            <!--<img src="./../assets/images/aboutUs/honer.png"/>-->
                        <!--</div>-->
                        <!--<div class="about_us_bottom_name">消费金融产品创新奖</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <!--关于e代付--end-->
        <!--管理团队-->
        <div id="management_team" class="artical_box" style="display: none;">
            <div class="management_team_leaguer_box">
                <div class="leaguer_text_box">
                    <!--<div class="leaguer_info_box leaguer_logo"></div>-->
                    <div class="leaguer_info_box leaguer_name"><b>石自明</b></div>
                    <div class="leaguer_info_box leaguer_professor">执行总经理</div>
                    <div class="leaguer_info_box leaguer_synopsis">曾供职政府部门，担保公司CEO，15年金融公司管理经验，对互联网金融、银行信用贷产品经验丰富。</div>
                    <!--<div class="leaguer_line"></div>-->
                </div>
                <!--<div class="leaguer_img_box">-->
                    <!--<img src="./../assets/images/aboutUs/leaguer_1.png"/>-->
                <!--</div>-->
            </div>
            <div class="management_team_line"></div>
            <div class="management_team_leaguer_box">
                <!--<div class="leaguer_img_box">-->
                    <!--<img src="./../assets/images/aboutUs/leaguer_1.png"/>-->
                <!--</div>-->
                <div class="leaguer_text_box">
                    <!--<div class="leaguer_info_box leaguer_logo"></div>-->
                    <div class="leaguer_info_box leaguer_name"><b>任超</b></div>
                    <div class="leaguer_info_box leaguer_professor">执行副总经理</div>
                    <div class="leaguer_info_box leaguer_synopsis">拥有6年银行从业经验，曾供职于建设银行、平安银行、广东南粤银行等金融机构，负责零售信贷、财富管理业务，对银行信用贷款业务、产品、运营经验丰富，且极擅长运营管理、产品管理、销售管理。</div>
                    <!--<div class="leaguer_line" style="float: right;"></div>-->
                </div>
            </div>
            <div class="management_team_line"></div>
            <div class="management_team_leaguer_box">
                <div class="leaguer_text_box">
                    <!--<div class="leaguer_info_box leaguer_logo"></div>-->
                    <div class="leaguer_info_box leaguer_name"><b>贾友涛</b></div>
                    <div class="leaguer_info_box leaguer_professor">科技部总监</div>
                    <div class="leaguer_info_box leaguer_synopsis">拥有12年软件开发管理经验，9年项目管理经验，6年金融IT经验；曾先后供职于华为、腾讯、平安，曾任知名互金公司IT总监，精通银行、小贷、金融、互联网等IT项目，专业特长：善长信贷系统体系建设，精通CMMI研发流程体系和敏捷开发模式；精通掌握MVC架构模型，Struts框架技术和常用设计模式，对系统架构、系统安全、系统安全方面经验丰富。</div>
                    <!--<div class="leaguer_line"></div>-->
                </div>
                <!--<div class="leaguer_img_box">-->
                    <!--<img src="./../assets/images/aboutUs/leaguer_1.png"/>-->
                <!--</div>-->
            </div>
            <div class="management_team_line"></div>
            <div class="management_team_leaguer_box">
                <!--<div class="leaguer_img_box">-->
                    <!--<img src="./../assets/images/aboutUs/leaguer_1.png"/>-->
                <!--</div>-->
                <div class="leaguer_text_box">
                    <!--<div class="leaguer_info_box leaguer_logo"></div>-->
                    <div class="leaguer_info_box leaguer_name"><b>杨道宝</b></div>
                    <div class="leaguer_info_box leaguer_professor">现金贷市场部总监</div>
                    <div class="leaguer_info_box leaguer_synopsis">拥有2年半海外国家总代销售渠道经验、3年的互联网、金融科技市场推广、团队管理，在多家公司任职时都能与团队创下公司历史新高的销售业绩，曾任分期乐高级销售经理、我来贷华南区高级销售总助等职。擅长品牌推广、渠道开发、团队管理。拥有线上自媒体、新媒体用户运营、与线下地推、商户资源共享结合等丰富的推广经验。</div>
                    <!--<div class="leaguer_line" style="float: right;"></div>-->
                </div>
            </div>
            <div class="management_team_line"></div>
            <div class="management_team_leaguer_box">
                <div class="leaguer_text_box">
                    <!--<div class="leaguer_info_box leaguer_logo"></div>-->
                    <div class="leaguer_info_box leaguer_name"><b>曾宪清</b></div>
                    <div class="leaguer_info_box leaguer_professor">商户贷市场部总监</div>
                    <div class="leaguer_info_box leaguer_synopsis">拥有12年职业生涯，曾任捷信大区销售副总，在大型上市公司、外资消费金融公司长期担任市场开发及管理工作，精通消费金融的运作模式、市场模式。深耕消费金融领域，对3C、健身、租房等消费分期领域经验丰富，对市场团队管理经验丰富。</div>
                    <!--<div class="leaguer_line"></div>-->
                </div>
                <!--<div class="leaguer_img_box">-->
                    <!--<img src="./../assets/images/aboutUs/leaguer_1.png"/>-->
                <!--</div>-->
            </div>
            <div class="management_team_line"></div>
            <div class="management_team_leaguer_box">
                <!--<div class="leaguer_img_box">-->
                    <!--<img src="./../assets/images/aboutUs/leaguer_1.png"/>-->
                <!--</div>-->
                <div class="leaguer_text_box">
                    <!--<div class="leaguer_info_box leaguer_logo"></div>-->
                    <div class="leaguer_info_box leaguer_name"><b>易莉莉</b></div>
                    <div class="leaguer_info_box leaguer_professor">风险管理部总监</div>
                    <div class="leaguer_info_box leaguer_synopsis">拥有10年银行及消费金融风险管理工作经历，曾先后就职于深圳发展银行风险部、平安银行信用卡中心风险部，曾任平安信用卡中心政策经理、审批经理等职。对个人小额信用贷款业务有深刻的实践及理论基础，有丰富的研究、分析及风险管理经验，对国内个人小额信用产品风控流程、产品风险等经验丰富。</div>
                    <!--<div class="leaguer_line" style="float: right;"></div>-->
                </div>
            </div>
            <div class="management_team_line"></div>
            <div class="management_team_leaguer_box">
                <div class="leaguer_text_box">
                    <!--<div class="leaguer_info_box leaguer_logo"></div>-->
                    <div class="leaguer_info_box leaguer_name"><b>姚家庆</b></div>
                    <div class="leaguer_info_box leaguer_professor">风险管理部副总监</div>
                    <div class="leaguer_info_box leaguer_synopsis">广东南粤银行风险建模高级项目经理，中国平安财产保险总部高级数据分析经理，上海数策软件有限公司数据分析师，评分卡开发；决策引擎设计、实施；数据分析；主导开发南粤银行信用速贷自动化审批项目，奠定了南粤银行信用速贷自动化风控基础，历经近 100 亿资产验证有效。</div>
                    <!--<div class="leaguer_line"></div>-->
                    <div class="leaguer_line_last"></div>
                </div>
                <!--<div class="leaguer_img_box">-->
                    <!--<img src="./../assets/images/aboutUs/leaguer_1.png"/>-->
                <!--</div>-->
            </div>
            <!--<div class="management_team_line"></div>-->
        </div>
        <!--管理团队--end-->
        <!--集团背景-->
        <!--<div id="group_background" class="artical_box" style="display: none;">-->
            <!--<div class="group_background_top">-->
                <!--<div class="group_background_logo">-->
                    <!--<img src="./../assets/images/aboutUs/group_logo.png"/>-->
                <!--</div>-->
                <!--<div class="group_background_text">-->
                    <!--<p>-->
                        <!--深圳市迎丰年集团(YFN)为一家集地产、金融、传媒、文化产业为一体的综合型集团，总资产高达上百亿，同时深耕金融板块，形成了证券、基金、小微贷、消费金融等多链条协同发展。-->
                    <!--</p>-->
                    <!--<br />-->
                    <!--<br />-->
                    <!--<p>-->
                        <!--从商业地产到金融投资、从照明产业到协会运营、从文化艺术到慈善基金．无不以仁义德行为准绳，通过务实精干、不断创新、诚信为本的信念。使其在深圳、东莞、揭西、江西等多地所开发项目，以品质注称．在行业享誉盛名。-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="group_background_line"></div>-->
            <!--<div class="group_background_bottom">-->
                <!--<div class="group_background_bottom_title">-->
                    <!--<img src="./../assets/images/aboutUs/aboutUs_prize.png"/>-->
                    <!--<span>迎丰年集团荣誉</span>-->
                <!--</div>-->
                <!--&lt;!&ndash;e代付荣誉 第一行&ndash;&gt;-->
                <!--<div class="group_background_bottom_content">-->
                    <!--<div class="group_background_bottom_img_left">-->
                        <!--<div class="group_background_bottom_img">-->
                            <!--<img src="./../assets/images/aboutUs/group_background_1.png"/>-->
                        <!--</div>-->
                        <!--<div class="group_background_bottom_name">功德新闻人物</div>-->
                    <!--</div>-->
                    <!--<div class="group_background_bottom_img_right">-->
                        <!--<div class="group_background_bottom_img">-->
                            <!--<img src="./../assets/images/aboutUs/group_background_2.png"/>-->
                        <!--</div>-->
                        <!--<div class="group_background_bottom_name">深圳市企业投资者优秀会员</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;e代付荣誉 第二行&ndash;&gt;-->
                <!--<div class="group_background_bottom_content">-->
                    <!--<div class="group_background_bottom_img_left">-->
                        <!--<div class="group_background_bottom_img">-->
                            <!--<img src="./../assets/images/aboutUs/group_background_3.png"/>-->
                        <!--</div>-->
                        <!--<div class="group_background_bottom_name">爱国先进示范单位</div>-->
                    <!--</div>-->
                    <!--<div class="group_background_bottom_img_right">-->
                        <!--<div class="group_background_bottom_img">-->
                            <!--<img src="./../assets/images/aboutUs/group_background_4.png"/>-->
                        <!--</div>-->
                        <!--<div class="group_background_bottom_name">人民功勋企业家</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--集团背景--end-->
        <!--招贤纳士-->
        <div id="recruitment" class="artical_box" style="display: none;">
            <div class="recruitment_box">
                <div class="recruitment_box_title"><&nbsp;<b>找到</b>你何时的职位&nbsp;></div>
                <div class="recruitment_box_synopsis">
                    <div class="recruitment_box_synopsis_left">
                        <img src="./../assets/images/aboutUs/recruitment_banner.png"/>
                    </div>
                    <div class="recruitment_box_synopsis_right">
                        <div class="recruitment_synopsis_title">
                            <div class="recruitment_synopsis_logo">
                                <img src="./../assets/images/aboutUs/recruitment_1.png"/>
                            </div>
                            <div class="recruitment_synopsis_text">< JOIN ></div>
                        </div>
                        <div class="recruitment_synopsis_contact">
                            <p>易代付视员工为企业的第一财富，我们为员工营造了轻松愉快的工作环境、充足的学习和成长机会，以充分展示员工的才华。易代付为您准备了绝佳的工作机会和发展平台，欢迎您的加入，与我们共创辉煌。</p>
                            <p>请将您的简历通过电子邮件发送到hr@xyedai.cn 邮件标题格式：姓名-应聘岗位-联系电话 谢谢！</p>
                        </div>
                    </div>
                </div>
                <div class="recruitment_box_logo">
                    <img src="./../assets/images/aboutUs/recruitment_logo.png"/>
                </div>
                <div class="recruitment_box_job">
                    <div class="recruitment_box_job_child">
                        <div class="job_box_left">
                            <p class="job_name_a">BD经理</p>
                            <p class="job_name_b">BD Manager</p>
                        </div>
                        <div class="job_box_right">
                            <P>1.根据公司及部门的目标，制定有效商务拓展，品牌及流量合作策略并实施；</P>
                            <P>2.负责商务合作拓展及沟通谈判，可针对不同行业，不同类型合作制定方案并推进；</P>
                            <P>3.整合公司内部资源并通过资源置换，品牌及活动合作等方式提升品牌影响力及流量导入；</P>
                            <P>4.谈判对公司最有利的合作方案，细化方案可行性，预测成本费用和效果输出；</P>
                            <P>5.组织策划相关市场公关、品牌营销活动，创意能力强；</P>
                            <P>6.建立和维护合作伙伴关系，共同推进项目开展；</P>
                            <div class="job_box_right_text">
                                <p>7.本科及以上学历，三年以上商务拓展，项目合作等相关工作经验，互金行业经验者优先；</p>
                                <p>8.具备较强的商务拓展及项目推进能力，市场嗅觉敏锐，执行能力强；</p>
                                <p>9.具备强大的沟通及协调能力，善于资源整合，方案策划，创意营销；</p>
                                <p>10.拥有丰富的市场资源及人脉关系，并有相关品牌及活动等异业合作案例；</p>
                                <p>11.具备一定的数据分析力并能从数据中发现及解决问题，优化合作。</p>
                            </div>
                        </div>
                        <div class="job_box_img">
                            <img class="job_box_img_down" src="./../assets/images/aboutUs/recruitment_down.png" style="display: block;" />
                            <img class="job_box_img_up" src="./../assets/images/aboutUs/recruitment_up.png" style="display: none;" />
                        </div>
                    </div>
                    <div class="recruitment_box_job_child">
                        <div class="job_box_left">
                            <p class="job_name_a">HTML5移动开发工程师</p>
                            <p class="job_name_b">HTML5 Mobile Development Engineer</p>
                        </div>
                        <div class="job_box_right">
                            <P>1.高质量完成移动端H5页面的交互设计和功能开发；</P>
                            <P>2.参与互联网金融产品的流程开发，能与后台开发人员协作实现产品功能；</P>
                            <P>3.在理解前端开发流程的基础上，结合前端技术，建立或优化提升工作效率的工具；</P>
                            <P>4.对Web技术有浓厚兴趣，及时关注前端前沿技术、工具研究，并应用到项目开发中；</P>
                            <P>5.良好的沟通能力和团队协作精神，严谨的工作态度与高质量意识，良好的抗压能力；</P>
                            <!--<P>6.对所在城市的数码、健身、教育、医疗等多个商户</P>-->
                            <div class="job_box_right_text">
                                <p>6.2-3年以上前端开发经验，精通html5、css3、javascript；</p>
                                <p>7.具有WebApp或混合App（JS方向）开发经验；能调试和解决常见的跨多端兼容、适配问题；</p>
                                <p>8.熟悉React.js、Vue.js、angular.js等一个或多个开发；</p>
                                <p>9.熟悉模块化开发，对前端自动化工具有所了解；</p>
                                <p>10.熟悉移动端H5性能优化，对各种网络环境下的性能优化有了解；</p>
                                <p>11.了解服务端（node/java或其他语言）加分；</p>
                                <p>12.良好的沟通与表达能力、思路清晰，较强的逻辑分析能力与执行力。</p>
                            </div>
                        </div>
                        <div class="job_box_img">
                            <img class="job_box_img_down" src="./../assets/images/aboutUs/recruitment_down.png" style="display: block;" />
                            <img class="job_box_img_up" src="./../assets/images/aboutUs/recruitment_up.png" style="display: none;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--招贤纳士--end-->
        <!--联系我们-->
        <div id="contact_us" class="artical_box" style="display: none;">
            <div class="contact_box">
                <div class="contact_box_title">
                    <&nbsp;易代付位于中国重要的经济和金融中心--深圳&nbsp;>
                </div>
                <div class="contact_box_child">
                    <div class="contact_box_child_left">
                        <p class="contact_box_map_title"><b>公司总部</b></p>
                        <p>地址：深圳市南山区中科大厦三号楼20-B</p>
                        <a href="map_1_company.html" target="_blank">
                            <img class="contact_box_map" src="./../assets/images/aboutUs/contact_map_1.png" />
                        </a>
                    </div>
                    <div class="contact_box_child_right">
                        <p class="contact_box_map_title"><b>运营中心</b></p>
                        <p>地址：深圳市南山区高新技术产业园区-W2-B座6楼6G室</p>
                        <a href="map_2_company.html" target="_blank">
                            <img class="contact_box_map" src="./../assets/images/aboutUs/contact_map_2.png" />
                        </a>
                    </div>
                </div>
                <div class="contact_box_child contact_box_child_line"></div>

                <div class="contact_box_child">
                    <div class="contact_box_child_left">
                        <p class="contact_box_map_title"><b>公司总部</b></p>
                        <p>如果您在使用易代付（easydaifu.com）的过程中有任何疑问请您与易代付客服人员联系。</p>
                        <br />
                        <div class="contact_box_map_text">
                            <img class="contact_box_map_logo" src="./../assets/images/aboutUs/contact_tel.png"/><span class="contact_box_map_tel">客服电话：4008-441-448&nbsp;&nbsp;0755-84374096</span>
                        </div>
                        <br />
                        <div class="contact_box_map_text">
                            <img class="contact_box_map_logo" src="./../assets/images/aboutUs/contact_qq.png"/><span class="contact_box_map_qq">客服QQ：1428589970&nbsp;&nbsp;2559107660&nbsp;&nbsp;1984771649</span>
                        </div>
                        <br />
                        <span>工作时间：周一至周五(工作日)： 9:00-12:00  14:00-18:00</span>
                    </div>
                    <div class="contact_box_child_right">
                        <p class="contact_box_map_title"><b>商务合作</b></p>
                        <span>如果贵公司希望与我们建立商务合作关系，形成优势互补</span><br />
                        <span>请将合作意向进行简单描述并</span><br />
                        <!--<span>发送邮件至：ESAYDAIFU@ESAYDAIFU.com</span><br />-->
                        <span>发送邮件至：edaifu@xyedai.cn</span><br />
                        <span>或联系QQ：2010906482</span><br />
                        <span>我们会尽快与您联系。</span>
                    </div>
                </div>
                <div class="contact_box_child contact_box_child_line"></div>

                <div class="contact_box_child">
                    <div class="contact_box_child_attention" style="">
                        <p class="contact_box_map_title"><b>关注我们</b></p>
                        <span>如果您还希望了解我们更多信息，请关注我们微信</span><br /><br />
                        <!--<span>如果您还希望了解我们更多信息，请关注我们新浪微博。</span><br />-->
                        <!--<div class="contact_box_map_text"  style="margin: 20px 0;">-->
                            <!--<img class="contact_bo
                            x_map_logo" src="./../assets/images/aboutUs/contact_weibo.png"/><span class="contact_box_map_qq">微博：https://www.easydaifu.com</span>-->
                        <!--</div>-->
                        <span>微信公众平台：易代付（扫描下方二维码关注易代付微信）</span><br />
                        <img class="contact_box_map_wechat" src="./../assets/images/aboutUs/wechat_img.png"/>
                    </div>
                </div>
                <div class="contact_box_child contact_box_child_line"></div>
            </div>
        </div>
        <!--联系我们--end-->
    </div>
</div>
<!--footer-->
<div id="footer">
    <iframe marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" src="footer.html"></iframe>
</div>
<!--客服飘窗-->
<div id="rightArrow"><a href="javascript:;" title="在线客户"></a></div>
<div id="floatDivBoxs">
    <div class="floatDtt">在线客服</div>
    <div class="floatShadow">
        <ul class="floatDqq">
            <li><a target="_blank" href="tencent://message/?uin=1428589970&Site=sc.chinaz.com&Menu=yes" style="text-decoration: none;"><img src="../assets/images/bay/qq.png" align="absmiddle">1428589970</a></li>
            <li><a target="_blank" href="tencent://message/?uin=2559107660&Site=sc.chinaz.com&Menu=yes"><img src="../assets/images/bay/qq.png" align="absmiddle">2559107660</a></li>
            <li><a target="_blank" href="tencent://message/?uin=1984771649&Site=sc.chinaz.com&Menu=yes"><img src="../assets/images/bay/qq.png" align="absmiddle">1984771649</a></li>
        </ul>
        <div class="floatDtxt">热线电话</div>
        <div class="floatDtel">
            <!--<img src="../assets/images/bay/online_phone.jpg" width="155" height="45" alt="">-->
            <span style="margin-left: 10px;">4008-441-448</span><br />
            <span style="margin-left: 10px;">0755-84374096</span>
        </div>
        <div class="floatImg"><img src="../assets/images/bay/wap_ico1.png" style="width: 90%;height: 90%;"><br />手机快捷注册</div>
    </div>
    <div class="floatDbg"></div>
</div>
<!--客服飘窗-end-->
<!--客服飘窗-->
<script type="text/javascript" src="../assets/lib/bayWindow/bay.js"></script>
<!--公用JS-->
<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/aboutUs.js"></script>
</body>
</html>