<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页脚</title>
    <!--公用CSS-->
    <link rel="stylesheet" href="../assets/css/main.css"/>
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 1590px)" href="../assets/cssL/main.css" />
</head>
<body>
<div id="footer_main" class="footer_main">
    <div id="footer_top" class="footer_top">
        <div class="footer_top_right">
            <!-- <div class="footer_top_right_text">联系方式</div> -->
            <!-- <div class="footer_top_right_text"><span>手机号码：</span><span>4008-441-448&nbsp;&nbsp;</span><span>0755-84374096</span></div> -->
            <div class="footer_top_right_text">
                <span>联系方式：</span>
                <!--<span id="logo_sina" style="margin-left: 20px;"><a href="#"><img src="./../assets/images/logo_sina.png"/></a></span>-->
                <!-- <span id="logo_qq" style="margin-left: 20px;"><a href="#"><img src="./../assets/images/logo_qq.png"/></a></span> -->
                <span id="logo_wechat" style="margin-left: 20px;"><a href="#"><img src="./../assets/images/logo_wechat.png"/></a></span>
                <!--<img id="sina_qrcode" src="./../assets/images/qrcode_sina.png" style="display:none;width: 100px;height: 100px;z-index: 100;position:relative; left: -80px; top: 0;" />-->
                <!-- <img id="qq_qrcode" src="./../assets/images/qrcode_qq.png" style="display:none; width: 71px;height: 71px;z-index: 102;position:relative; left: -40px; top: 0;" /> -->
                <img id="wechat_qrcode" src="./../assets/images/qrcode_wechat.png" style="display:none; width: 90px;height: 90px;z-index: 104;position:relative; left: 0; top: 0;" />
            </div>
            <div class="footer_top_right_text">周一至周五(工作日)：&nbsp;9:00-12:00&nbsp;&nbsp;14:00-18:00</div>
        </div>
    </div>
    <!--
    <div id="footer_bottom" class="footer_bottom">
        <span>国昌世纪（深圳）投资控股有限公司|粤ICP备18110599号-1|©2018-2019&nbsp;All rights reserved.</span>
    </div>
    -->
</div>
<script type="text/javascript" src="./../assets/lib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="./../assets/js/main.js"></script>
</body>
</html>
