<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="国昌世纪,消费金融,智能风控,贷款超市" />
    <meta name="description" content="国昌世纪,消费金融,智能风控,贷款超市" />
    <title>国昌世纪</title>
    <!--公用CSS-->
    <link rel="stylesheet" href="../assets/css/main.css"/>
    <!--首页样式-->
    <link rel="stylesheet" href="../assets/css/index.css">
    <!--屏幕不大于1590px(1600px)-->
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 1590px)" href="../assets/cssL/main.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 1590px)" href="../assets/cssL/index.css" />
    <!--轮播图-->
    <link rel="stylesheet" href="../assets/lib/carousel/carousel.css">
    <!--横向流动特效-->
    <link rel="stylesheet" href="../assets/lib/stream/stream.css">
    <!--客服飘窗-->
    <link rel="stylesheet" href="../assets/lib/bayWindow/bay.css">
    <!--<link rel="stylesheet" href="../assets/lib/bootstrape/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="../assets/lib/bootstrape/bootstrap-theme.min.css">-->
    <script type="text/javascript" src="../assets/lib/jquery-3.2.1.min.js"></script>
    <!--<script type="text/javascript" src="../assets/lib/bootstrape/bootstrap.min.js"></script>-->
    <!–[if lt IE 9]><script src=”http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js”></script><![endif]–>
</head>
<body>
<!--header-->
<div id="header" class="header">
    <div class="header_logo"></div>
    <div id="header_menu" class="header_menu">
        <a href="#"><div class="header_menu_children header_menu_children_first header_menu_selector">首页</div></a>
        <!--<a href="http://www.wmdmall.com/" target="_blank"><div class="header_menu_children header_menu_children_secound">我买单商城</div></a>-->
        <!-- <a href="product.html"><div class="header_menu_children">产品中心</div></a> -->
        <!--<a href="merchantsSettled.html"><div class="header_menu_children">商户入驻</div></a>-->
        <!-- <a href="helpCenter.html"><div class="header_menu_children">帮助中心</div></a> -->
        <a href="aboutUs.html"><div class="header_menu_children">关于我们</div></a>
    </div>
</div>
<div id="main">
    <!--轮播图-->
    <div class="bannerbox">
        <div class="Homebanner">
            <!--轮播背景图-->
            <ul>
                <li class="Load cur load_img_1"></li>
                <li class="Load load_img_2"></li>
                <li class="Load load_img_3"></li>
            </ul>
            <!--左右箭头-->
            <div class="Homeleft"><</div>
            <div class="Homeright">></div>
            <!--切换按钮-->
            <div class="Homedot"><a href="javascript:void(0)" class="cur">1</a><a href="javascript:void(0)">2</a><a href="javascript:void(0)">3</a></div>
        </div>
    </div>
    <!--内容-->
    <div class="context">
        <div class="context_title"><span>服务项目/Services</span></div>
        <div id="context_list" class="context_list">
            <a id="context_list_one" href="./product.html">
                <div class="context_list_children">
                    <!--背景图-->
                    <div class="context_public context_list_img context_set_img_one">
                        <!--遮罩层-->
                        <div class="dark"></div>
                    </div>
                    <div class="context_public context_list_title">消费金融系统</div>
                    <div id="context_list_line_one" class="context_public context_list_line_one"></div>
                    <div class="context_public context_list_text">
                        <!-- <p>您的随身零钱袋，支持随借随还、分期还款</p> -->
                    </div>
                    <div class="context_public context_list_line_two"></div>
                </div>
            </a>
            <a id="context_list_two" href="./product.html">
                <div class="context_list_children">
                    <div class="context_public context_list_img context_set_img_two">
                        <div class="dark"></div>
                    </div>
                    <!--<div class="context_public context_list_title selector_color">e代付分美商户</div>-->
                    <div class="context_public context_list_title">现金分期智能风控系统</div>
                    <!--<div class="context_public context_list_line_one selector_border"></div>-->
                    <div class="context_public context_list_line_one"></div>
                    <div class="context_public context_list_text">
                        <!-- <p>创新业务模式，助力消费金融</p> -->
                    </div>
                    <!--<div class="context_public context_list_line_two selector_line"></div>-->
                    <div class="context_public context_list_line_two"></div>
                </div>
            </a>
            <a id="context_list_three" href="#" target="_blank">
                <div class="context_list_children">
                    <div class="context_public context_list_img context_set_img_three">
                        <div class="dark"></div>
                    </div>
                    <div class="context_public context_list_title">贷款超市</div>
                    <div class="context_public context_list_line_one"></div>
                    <div class="context_public context_list_text">
                        <!-- <p>极具特色的商品，分期轻松拥有</p> -->
                    </div>
                    <div class="context_public context_list_line_two"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div id="partner" class="partner">
    <div class="partner_title "><span>合作伙伴/partner</span></div>
</div>
<!--<div id="1" style="width:100%; height: 100%; display: flex; align-items: center;margin-top: 125px;margin-bottom: 40px;">-->
        <div id="wrapper" style="">
            <div id="carousel">
                <div>
                    <img src="./../assets/images/stream/stream_1.png" alt=""/>
                    <!--提示文字，鼠标悬停-->
                    <span>易联支付</span>
                </div>
                <div>
                    <img src="./../assets/images/stream/stream_2.png" alt=""/>
                    <span>快付通</span>
                </div>
                <div>
                    <img src="./../assets/images/stream/stream_3.png" alt=""/>
                    <span>宝付</span>
                </div>
                <div>
                    <img src="./../assets/images/stream/stream_4.png" alt=""/>
                    <span>白骑士</span>
                </div>
                <div>
                    <img src="./../assets/images/stream/stream_5.png" alt=""/>
                    <span>你我金融</span>
                </div>
                <div>
                    <img src="./../assets/images/stream/stream_6.png" alt=""/>
                    <span>致诚信用</span>
                </div>
                <div>
                    <img src="./../assets/images/stream/stream_7.png" alt=""/>
                    <span>前海征信</span>
                </div>
                <div>
                    <img src="./../assets/images/stream/stream_8.png" alt=""/>
                    <span>鹏元征信</span>
                </div>
                <div>
                    <img src="./../assets/images/stream/stream_9.png" alt=""/>
                    <span>同盾科技</span>
                </div>
                <div>
                    <img src="./../assets/images/stream/stream_10.png" alt=""/>
                    <span>上海资信</span>
                </div>
                <div>
                    <img src="./../assets/images/stream/stream_11.png" alt=""/>
                    <span>芝麻信用</span>
                </div>
            </div>
        </div>
<!--</div>-->
<!--footer-->
<div id="footer">
    <iframe marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" src="footer.html"></iframe>
</div>
<!--客服飘窗-->
<!-- <div id="rightArrow"><a href="javascript:;" title="在线客户"></a></div>
<div id="floatDivBoxs">
    <div class="floatDtt">在线客服</div>
    <div class="floatShadow">
        <ul class="floatDqq">
            <li><a target="_blank" href="tencent://message/?uin=1428589970&Site=sc.chinaz.com&Menu=yes" style="text-decoration: none;"><img src="../assets/images/bay/qq.png" align="absmiddle">1428589970</a></li>
            <li><a target="_blank" href="tencent://message/?uin=2559107660&Site=sc.chinaz.com&Menu=yes"><img src="../assets/images/bay/qq.png" align="absmiddle">2559107660</a></li>
            <li><a target="_blank" href="tencent://message/?uin=1984771649&Site=sc.chinaz.com&Menu=yes"><img src="../assets/images/bay/qq.png" align="absmiddle">1984771649</a></li>
        </ul>
        <div class="floatDtxt">热线电话</div>
        <div class="floatDtel">
           
            <span style="margin-left: 10px;">4008-441-448</span><br />
            <span style="margin-left: 10px;">0755-84374096</span>
        </div>
        <div class="floatImg"><img src="../assets/images/bay/wap_ico1.png" style="width: 90%;height: 90%;"><br />手机快捷注册</div>
    </div>
    <div class="floatDbg"></div>
</div> -->
<!--客服飘窗-end-->
<!--公用JS-->
<script type="text/javascript" src="../assets/js/main.js"></script>
<!--轮播图-->
<script type="text/javascript" src="../assets/lib/carousel/banner.js"></script>
<!--横向流动特效-->
<script type="text/javascript" src="../assets/lib/stream/jquery.carouFredSel-6.0.4-packed.js"></script>
<!--客服飘窗-->
<script type="text/javascript" src="../assets/lib/bayWindow/bay.js"></script>
<!--首页JS-->
<script type="text/javascript" src="../assets/js/index.js"></script>
<script>
    $(function() {
        var $c = $('#carousel'),
            $w = $(window),
            $wr = $("#wrapper");
        $c.carouFredSel({
            align: false,
            items: 10,	//显示个数，子项必须大于这个个数
            scroll: {
                items: 1,
                duration: 6000,     //滚动速度 6000==6S完全滚动出最后一个子项
                timeoutDuration: 0,
                easing: 'linear',
                pauseOnHover: 'immediate',
            }
        });
        $w.bind('resize.example', function() {
            var nw = $w.width();
            if (nw < 990) {
                nw = 990;
            }
            $c.width(nw * 3);
            $c.parent().width(nw);
        }).trigger('resize.example');
        $wr.find(".caroufredsel_wrapper").css('width', '75%');
        $wr.find(".caroufredsel_wrapper").css('min-width', '1200px');
    });
</script>
</body>
</html>