<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>产品中心</title>
    <!--公用CSS-->
    <link rel="stylesheet" href="../assets/css/main.css"/>
    <!--产品中心CSS-->
    <link rel="stylesheet" href="../assets/css/product.css"/>
    <!--屏幕不大于1590px(1600px)-->
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 1590px)" href="../assets/cssL/main.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 1590px)" href="../assets/cssL/product.css" />
    <!--客服飘窗-->
    <link rel="stylesheet" href="../assets/lib/bayWindow/bay.css">
    <script type="text/javascript" src="../assets/lib/jquery-3.2.1.min.js"></script>
</head>
<body>
<!--header-->
<div id="header" class="header">
    <div class="header_logo"></div>
    <div id="header_menu" class="header_menu">
        <a href="index.html"><div class="header_menu_children header_menu_children_first">首页</div></a>
        <!--<a href="http://www.wmdmall.com/" target="_blank"><div class="header_menu_children header_menu_children_secound">我买单商城</div></a>-->
        <a href="#"><div class="header_menu_children header_menu_selector">产品中心</div></a>
        <!--<a href="merchantsSettled.html"><div class="header_menu_children">商户入驻</div></a>-->
        <a href="helpCenter.html"><div class="header_menu_children">帮助中心</div></a>
        <a href="aboutUs.html"><div class="header_menu_children">关于我们</div></a>
    </div>
</div>
<div id="main">
    <div id="banner" class="banner"></div>
    <div class="context">
        <div class="context_title"><span>产品中心/Product Center</span></div>
        <div class="context_list_1">
            <div class="context_list_left">
                <img class="context_list_left_banner" src="./../assets/images/product/banner_list_1.png" />
            </div>
            <div class="context_list_right">
                <div class="context_list_box">
                    <!--<div class="context_list_box_title">e代付~小额现金贷</div>-->
                    <div class="context_list_box_title">e代付</div>
                    <div class="context_list_box_text">
                        <span>
                            e代付小额现金贷快速、便捷、优惠，支持1-6期2000-20000元的现金借款，及10-30天100-1000元的零花速贷，借款、还款可全程APP办理，是您小额急用、大额支出的理想选择。
                        </span>
                    </div>
                    <div class="context_list_box_download">
                        <img class="context_list_box_download_ios" src="./../assets/images/product/ios_logo_wages.png" />
                        <img class="context_list_box_download_android" src="./../assets/images/product/android_logo_wages.png" />
                        <a href="#"><div class="context_list_box_download_btn">APP下载</div></a>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="context_list_line" style=""></div>
        <div class="context_list_2">
            <div class="context_list_right">
                <div class="context_list_box">
                    <div class="context_list_box_title">分美钱包</div>
                    <div class="context_list_box_text">
                        <span>
                            分美贷是针对零售商户推出的一款创新产品，额度为2-20万元，最低利率可低于银行贷款利率，申请便利、手续简单、订单质押，解决零售商户的燃眉之急，助力消费金融腾飞。
                        </span>
                    </div>
                    <div class="context_list_box_download">
                        <img class="context_list_box_download_ios" src="./../assets/images/product/ios_logo_business.png" />
                        <img class="context_list_box_download_android" src="./../assets/images/product/android_logo_business.png" />
                        <a href="#"><div class="context_list_box_download_btn">APP下载</div></a>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
            <div class="context_list_left">
                <img class="context_list_left_banner" src="./../assets/images/product/banner_list_2.png"/>
            </div>
        </div>
        <div class="context_list_line"></div>
        <div class="context_list_3">
            <div class="context_list_left">
                <img class="context_list_left_banner" src="./../assets/images/product/banner_list_3.png" />
            </div>
            <div class="context_list_right">
                <div class="context_list_box">
                    <div class="context_list_box_title">在线商城</div>
                    <div class="context_list_box_text">
                        <span>
                            在e代付官方商城我买单商城选择商品后，再选择分期期数，即可使用您授信额度购买商城商品，我买单商城提供3C、轻奢及海外优质商品，全部正品销售，分期轻松拥有。
                        </span>
                    </div>
                    <div class="context_list_box_download">
                        <a href="http://www.wmdmall.com/" target="_blank"><div class="context_list_box_download_btn">购物分期</div></a>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<div id="footer">
    <iframe marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" src="footer.html"></iframe>
</div>
<!--客服飘窗-->
<div id="rightArrow"><a href="javascript:;" title="在线客户"></a></div>
<div id="floatDivBoxs">
    <div class="floatDtt">在线客服</div>
    <div class="floatShadow">
        <ul class="floatDqq">
            <li><a target="_blank" href="tencent://message/?uin=1428589970&Site=sc.chinaz.com&Menu=yes" style="text-decoration: none;"><img src="../assets/images/bay/qq.png" align="absmiddle">1428589970</a></li>
            <li><a target="_blank" href="tencent://message/?uin=2559107660&Site=sc.chinaz.com&Menu=yes"><img src="../assets/images/bay/qq.png" align="absmiddle">2559107660</a></li>
            <li><a target="_blank" href="tencent://message/?uin=1984771649&Site=sc.chinaz.com&Menu=yes"><img src="../assets/images/bay/qq.png" align="absmiddle">1984771649</a></li>
        </ul>
        <div class="floatDtxt">热线电话</div>
        <div class="floatDtel">
            <!--<img src="../assets/images/bay/online_phone.jpg" width="155" height="45" alt="">-->
            <span style="margin-left: 10px;">4008-441-448</span><br />
            <span style="margin-left: 10px;">0755-84374096</span>
        </div>
        <div class="floatImg"><img src="../assets/images/bay/wap_ico1.png" style="width: 90%;height: 90%;"><br />手机快捷注册</div>
    </div>
    <div class="floatDbg"></div>
</div>
<!--客服飘窗-end-->
<!--公用JS-->
<script type="text/javascript" src="../assets/js/main.js"></script>
<!--客服飘窗-->
<script type="text/javascript" src="../assets/lib/bayWindow/bay.js"></script>
</body>
</html>